<div class="app-approve-page">
  <nz-tabset class="page-tabset">
    <nz-tab nzTitle="正在进行的审批">
      <p class="approve-in-process-desc">显示当前未完成的审批</p>
      <div class="in-process-out" *ngIf="hasUncompletedApprovelOut||hasUncompletedApprovelLeave">
        <div nz-row nzGutter="16">
          <div nz-col nzSpan="24" *ngFor="let out of unCompletedApproveOut,let leave of unCompletedApproveLeave">
            <app-approve-go-out-page-card class="approval-go-out-card" [out]="out"></app-approve-go-out-page-card>
          </div>
          <div nz-col nzSpan="24" *ngFor="let leave of unCompletedApproveLeave">
            <app-approve-leave-card class="approval-leave-card" [leave]="leave"></app-approve-leave-card>            <!-- //缺少一个未完成的请假审批 */ !-->
          </div>


        </div>
      </div>
    </nz-tab>
  </nz-tabset>

  <nz-tabset class="page-tabset">
    <nz-tab nzTitle="已经完成的审批">
      <p class="approve-completed-desc">显示当前用户已经完成的外出申请</p>
      <div class="completed">
        <div nz-row nzGutter="16">
          <div nz-col nzspan="24" *ngFor="let out of completedApprovedOut">
            <app-approve-go-out-page-card class="approval-go-out-page-card" [out]="out"></app-approve-go-out-page-card>
          </div>
          <div nz-col nzSpan="24" *ngFor="let leave of completedApprovedLeave">
            <app-approve-leave-card class="approval-leave-card" [leave]="leave"></app-approve-leave-card>
          </div>

        </div>
      </div>

    </nz-tab>
  </nz-tabset>
</div>
