<ul nz-menu [nzMode]="'horizontal'">
    <li nz-menu-item nzDisabled class="app-loge">
      考勤系统
    </li>
    <li nz-menu-item>
      <a routerLink="/clock" routerLinkActive="active">打卡</a>
    </li>
    <li nz-menu-item>
      <a routerLink="/goout">外出申请</a>
    </li>
    <li nz-menu-item>
      <a routerLink="/leave">请假申请</a>
    </li>
    <li nz-menu-item>
      <a routerLink="/annual">年假</a>
    </li>
  <li nz-menu-item *ngIf="currentUserPosition" >
    <a routerLink="/approve">审批</a>
  </li>

    <li nz-menu-item *ngIf="login" class="app-username">
      <a (click)="logout()">注销</a>
    </li>
    <li nz-menu-item *ngIf="notLogin" class="app-username">
      <a routerLink="/login">登陆</a>
    </li>
</ul>
